// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.jumbotron {
    background: url(../img/pirate-ship.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px;
}

.nav-item a:hover{
    text-decoration: underline;
}

.display-4, .h2{
    font-family: 'Architects Daughter', cursive;
}